body{
    background-color: orange;
}


.maindiv{

    height: 70px;
    width: 1350px;
    background-color: gray;
    position: fixed;

    
}

.maindiv2{

    background-color: ghostwhite;
    height:70;
    width: 820px;
    position: absolute;
    top: 5px;
    left: 260px;
}

.pokemon{

    height: 50px;
    width: 160px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 20px;
}

.sk1{

    
    height: 50px;
    width: 80px;
    margin: 5px;
    display: inline-block;
}

.pokemon:hover,
.sk1:hover {

    box-shadow: 3px 3px 4px black;
    opacity: 0.5;

}

.mainul{

    position:relative;
    top: 70px;
    left: 220px;
}
.li1{

    list-style: none;
    display: inline-block;
    padding: 10;
    margin: 10px;
    height: 50px;
    width: 100px;
    text-align: center;
    font-weight: bold;
}


.li1:hover{

    background-color: chocolate;
    border: 3px solid blue;
}

.a11{

    position: relative;
}

.a1{

    position:absolute;
    top: 100px;
    left: 250px;
    box-shadow: 5px 5px 5px black;
    height: 500px;
    width: 600px;
}

.a2{

    position: absolute;
    top: 100px;
    left: 880px;
    box-shadow: 5px 5px 5px black;
}

.a3{

    position: absolute;
    top: 330px;
    left: 880px;
    box-shadow: 5px 5px 5px black;
}

.a4{

    position: absolute;
    top: 620px;
    left: 250px;
    box-shadow: 5px 5px 5px black;
}

.a5{

    position: absolute;
    top: 650px;
    left: 770px;
    box-shadow: 5px 5px 5px black;

}

.b1{

    border-radius: 20px;
}

.a6{

    position: relative;
    top: 1100px;
    left: 250px;
    box-shadow: 5px 5px 5px black;
    height: 450px;
    width: 320px;
}

.a7{

    position: relative;
    top: 700px;
    left: 600px;
    height: 450px;
    width: 500px;
    box-shadow: 5px 5px 5px black;
}

.lastdiv{

    position: relative;
    top: 750px;
    height: 450px;
    width: 1300px;
    margin-left: 10px;
    background-color: darkslateblue;

}

.lastdiv1{

    color: white;
    margin-left: 30px;

}







